*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:pink;
}

.heading{
	color: white;
	font-weight: bold;
	font-family: 'Lobster', cursive;
	text-transform: uppercase;
	font-size: 25px;
	text-align:center;
}
.container{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	display: grid;
	grid-template-columns: (5,1fr);
	grid-gap: 15px;
	grid-template-rows: 100px auto auto auto;
}

.box{
	border: 1px solid black;

}

#box1{
	grid-column: 1/2;
	background-color: red
}

#box2{
	grid-column: 2/3;
	background-color: #8e24aa

}

#box3{
	grid-column: 3/4;
	background-color: #29b6f6

}

#box4{
	grid-column: 4/5;
	background-color: #ffff00

}

.box h3{
	text-align: center;
	margin: 25px;
	font-size: 25px;
	text-transform: uppercase;
	color: black;
	font-family: 'Pacifico', cursive;

}

@media(max-width: 1020px){
	.container{
		grid-template-columns: (1fr,1fr);
		grid-template-rows: 150px 150px;

	}
#box1{
	grid-column: 1/2;
	background-color: red
}

#box2{
	grid-column: 2/3;
	background-color: #8e24aa

}

#box3{
	grid-column: 1/2;
	background-color: #29b6f6

}

#box4{
	grid-column: 2/3;
	background-color: #ffff00

}

.box h3{
	text-align: center;
	margin: 25px;
	font-size: 25px
	

}


}

@media(max-width: 768px){
	.container{
		grid-template-columns: (1fr);
		grid-template-rows:auto;

	}
#box1{
	grid-column: 1/-1;
	background-color: red
}

#box2{
	grid-column: 1/-1;
	background-color: #8e24aa

}

#box3{
	grid-column: 1/-1;
	background-color: #29b6f6

}

#box4{
	grid-column: 1/-1;
	background-color: #ffff00

}

.box h3{
	text-align: center;
	margin: 25px;
	font-size: 25px
}	
